#animaux {
	border: 3px solid brown;
	background-color: #F4FA58; /*yellow*/
	width: 70%;
	margin: auto;
	
	background: linear-gradient(to bottom, rgba(244, 250, 88, 1.0), rgba(241, 167, 167, 1));
}

#animaux p {
	text-align: center;
}

h3 {
	text-align: center;
}

img.animal {
	display: block;
	margin-left: auto;
    margin-right: auto;
	border-radius: 16px;
	width: 70%;
	height: auto;
}

.ancre_menu {
	opacity: 0.0;
	position: fixed;
	bottom: 25px;
	right: 30px;
}




