/* CONTENU --------------------------------------- */

#actus {
	border: 3px solid brown;
	background-color: #F4FA58; /*yellow*/
	width: 70%;
	margin: auto;
	padding: 1%;
}

p {
	/*text-align: center;*/
	margin: auto;
	margin-left: 3%;
	margin-right: 3%;
}

#actus article {
	width: 96%;
	border: 3px solid #FA8258;
	padding: 1%;
	margin: 0.5%;
	margin-bottom: 1%;
	border-radius: 16px;
	background: radial-gradient(red, white);
}

#actus p {

	margin-top: 3%;
}

.bouton a {
	background-color: #0B6138;
	color: #F7F8E0;
	padding-right: 1%;
	padding-left: 1%;
	border-radius: 16px;
}

.bouton a:link {
	color: #F7F8E0; /*brown*/
	text-decoration: none;
}

.bouton a:active {
	color: #F7F8E0;
	text-decoration: none;
	
}

.bouton a:visited {
	color: #F7F8E0;
	text-decoration: none;
}

.bouton a:hover {
	background-color: #04B486; /* #088A68 */
}

#actus img {
	width: 20%;
	border-radius: 16px;
}

h2, h4 {
	margin-left: 5%;
}





