/* ---------------------------------------------- MENU */

h1 {
	color: #088A4B;
	font-size: 55px;
	padding: 20px;
	padding-bottom: 15px;
	text-shadow: 1px 1px 1px blue;
}

@keyframes el_menu {
	
	from {
		
		transform: translateY(-10px);
		opacity: 0;
	}
}

body {
	background-color: #F8D4D4;
	background-attachment: fixed;
	/*background: radial-gradient(red, yellow, green, black);*/               /* pose des problèmes pour les petites pages */
	/*background-image: url('ptitbg.png'); */
}


nav {
	/* background-color: grey; */
	/*background-image: url('coeurs.jpg');*/
	background-color: #8F71E7; /*ou ff6666 ou 00cc66 ou 6699ff ou 9966ff*/
	background-size: 60px;
	color: #61210B; /*brown*/
}

/*nav:hover {
	background-color: #8258FA;
} moche */

nav > ul {
	padding: 10px 5px;
	/* background-color: cyan; */
}

nav > ul > li {
	display: inline-block;
	padding: 5px;
	border-right: 1px solid #61210B;
	padding-right: 5px;
}

nav > ul > li > ul {
	display: none;
	list-style-type: none;
	padding: 5px;
	position: absolute;
	background-color: #D0A9F5; /*violet*/
	border: 2px solid #9F81F7;
}

nav > ul > li:hover > ul {
	display: block;
	animation-name: el_menu;
	animation-duration: 500ms;
}

nav > ul > li > ul > li {
	
	padding-bottom: 4px;
}

li a:link {
	color: #61210B; /*brown*/
	text-decoration: none;
}

li a:active {
	color: #61210B;
	text-decoration: none;
}

li a:hover {
	text-shadow: 1px 0px 0px black; /* plutôt que bold car bold change la taille du container */
}

li a:visited {
	color: #61210B;
	text-decoration: none;
}

.ancre_menu {
	opacity: 0.0;
	position: fixed;
	bottom: 25px;
	right: 30px;
}

.ancre_menu img {
	width: 50px;
}

/* ---------------------------------------- PIED DE PAGE */

footer {
	text-align: center;
}