form {
	width: 96%;
	height: auto;
	padding: 3px;
	/* padding: 5px; */
	background-color: lightblue;
	border-style: double;
	border: 1px solid brown;
	margin: auto;
}

table {
	width: 100%;
	background-color: lightblue;
	border: 1px solid brown;
}

@keyframes pourcentage {
	from {
		opacity: 0;
		width: 0;
	}
}

.resultats {}

.resultat {
	white-space: nowrap;
	padding: 0.2em 0.5em;
	margin: 1em 10px;
	background-color: rgba(200, 180, 0, 0.7);
	
	/* animation-name en JS */
	animation-duration: 0.9s;
	animation-iteration-count: 1;
	opacity: 0.2;
	
	border: 1px dashed black;
}


/* définir meilleur_resultat en dernier pour que ses attributs écrasent resultat */

.meilleur_resultat {

	opacity: 1;
}